@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efe7db; /* main page background */
  --surface: #ffffff; /* cards, menu panels */
  --primary: rgb(31, 79, 58); /* buttons, headings */
  --textMain: #2b2b2b; /* body text */
  --accent: rgb(230, 198, 92); /* hover, highlights */
}

body {
  background: var(--background);
  color: var(--textMain);
  font-family: var(--font-nunito);
}

@keyframes loaderSlide {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-60%);
  }
}

@layer base {
  button,
  [role="button"],
  a[class] {
    /* display: inline-flex; */
    align-items: center;
    transition:
      transform 150ms ease,
      box-shadow 150ms ease;
    will-change: transform;
  }

  button:hover,
  [role="button"]:hover,
  a[class]:hover {
    transform: translateY(-2px);
  }

  button:active,
  [role="button"]:active,
  a[class]:active {
    transform: translateY(0) scale(0.96);
  }
}
