@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efe7db; /* main page background */
  --surface: #ffffff; /* cards, menu panels */
  --primary: #1f4f3a; /* buttons, headings */
  --textMain: #2b2b2b; /* body text */
  --accent: #e6c65c; /* hover, highlights */
}

body {
  background: var(--background);
  color: var(--textMain);
  font-family: var(--font-nunito);
}
